*{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;

}

/* Bij https://www.w3schools.com/ heb ik gezien dat de :root makkelijk alle styles in mijn html document aan te passen*/
:root{

    /* Ik wilde gemakkelijk deze kleuren terug
     kunnen brengen en heb bij https://developer.mozilla.org/ goed kunnen vinden hoe dat moest met variabelen*/

    --bg-color: #1d1c1c;
    --text-color:white;
    --main-color: pink;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;

}


html{
    font-size: 50%; 
    overflow-x: hidden;   
}



/*hier komen de kleuren mooi terug*/
body{
    background: var(--bg-color);
    color: var(--text-color);

}

.header{
    position: fixed;
    width: 100%;
    padding: 4rem 15%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}



#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);

}

span{
    
    background: linear-gradient(45deg,  rgb(237, 156, 205), rgb(249, 40, 75)); 
    background-clip: text;
    color: transparent;
}  

.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgb(237, 156, 205), rgb(249, 40, 75));
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover{
    transform: scale(1.10);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.home-content h1{
     font-size: 8rem;
     font-weight: 700;
     margin-top: 1.5rem;
     line-height: 1;
}

.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}

.home-content p{
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.8;
}


.home-img img{
    width: 26vw;
    border-radius: 60%;
    box-shadow: 0 0 30px var(--main-color);
    transition: 0.4s ease-in-out;

} 

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 30px var(--main-color),
                0 0 80px var(--main-color);
                 

}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;

}

.social-icons a:hover{
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group{
    display: flex;
    gap: 1.5em;
}
.btn{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;

}

.btn :hover{
    transform: scale(1.10);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);

}

.about{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10rem;
    background: var(--bg-color);

}

.about-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;

}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.about-content h2{
    font-size: 7rem;
    text-align: left;
}

.about-content p{
    font-size:2rem;
}

.about-content .btn{
    margin: 3rem 0 ;
}



