*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family:"poppins";
}

:root{
    background-color: #080808;
    text-emphasis-color: white;
    -moz-text-decoration-color: pink;
}

html{
    font-size: 60%;
    overflow: hidden;
}